@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.app-header {
    @apply font-semibold text-xl text-gray-800 leading-tight;
}

.welcome-art {
    background: url("../images/welcome-art.png") no-repeat right / contain;
}

.min-h-screen-4\/5 {
    min-height: 80vh;
}

.svg-icon {
    @apply w-8 h-8;
}

.message {
    @apply font-sans;
}

.message h1, .message h2, .message h3 {
    @apply text-gray-700 text-xl font-bold;
}

.message pre {
    @apply whitespace-pre-wrap break-words;
    text-align: justify;
}

.message code {
    @apply bg-gray-300 p-2 block overflow-hidden rounded;
}
